{% extends "layout.html" %} {% block content %} {% for blog in blog %}
<div class="card col-md-8">
  {% if current_user.username==blog.author.username%}
  <div class="card-header">
    <h3>
      <a href="{{ url_for('blog_edit',blog_id=blog.id)}}"
        >{{ blog.title }}<i class="fas fa-pen"></i
      ></a>
    </h3>
    
  </div>
  {%else%}
  <div class="card-header"><h3>{{ blog.title }}</h3></div>
  {%endif%}
  <div class="card-body">
    <p class="card-text">{{blog.content}}</p>
  </div>
  <div class="card-footer text-muted ">
    {% if current_user.username==blog.author.username%}
    <form action="{{url_for('blog_delete', blog_id=blog.id)}}" method="post">
      <input class="btn btn-outline-danger float-end" type="submit" value="Delete" />
    </form>
    By Dr.{{blog.author.username}} on {{blog.date_posted.strftime('%d-%m-%Y')}}
    {%else%}
    By Dr.{{blog.author.username}} on {{blog.date_posted.strftime('%d-%m-%Y')}}
    {%endif%}
  </div>
</div>
{% endfor %} {% endblock content %}
